body{
    display:flex;
    background:url(pexels-francesco-ungaro-396547.jpg);
    min-height:100vh;
    min-width: 100vh;
}


.mainContainer{
    display:grid;
    grid-template-columns: repeat(100,1fr);
    border:2px solid black;
    height:500px;
    width:500px;
    align-self: center;
    margin: 5rem;
    background-color: rgb(255, 255, 255);
}

.applyColor{
    background-color: black;
}

.parentContainer{
    display:flex;
    justify-content: flex-start;
    flex:1;
    margin-right: 10rem;
}

.parentButton{
  display:flex;
  flex-direction: column;
  flex:1;
  padding:2rem;
  padding-top: 0rem;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left:4rem;
}
.userInput,
.userRandomColor,
.userInputVarBlack,
.userInputAny,
.blackColor,
.clearButton{
    background:rgba(0,0,0,0.7);
    color: aliceblue;
    width: 10rem;
    border-radius: 1rem;
    border-width: 5px;
    min-height: 5rem;
    border:2px solid rgb(242, 217, 217);
}
.userInput:hover,
.userRandomColor:hover,
.userInputVarBlack:hover,
.userInputAny:hover,
.blackColor:hover,
.clearButton:hover{
    background:rgba(250, 248, 248, 0.3);
}

.userInput:active,
.userRandomColor:active,
.userInputVarBlack:active,
.userInputAny:active,
.blackColor:active,
.clearButton:active {
    background:rgba(8, 2, 77, 0.5);
    box-shadow: 0 5px #666;
    transform: translateY(3px);
    border-color: white;
  }

.inputColor{
   border: none;
    width:4rem;
    height:1rem;
    display: block;
}


